---
import "@fontsource/work-sans"
import {
  ImageSupportDetection,
} from "astro-imagetools/components"
import Navbar from "../components/sections/Navbar.astro"
import Footer from '../components/sections/Footer.astro';
import "../global.css"
import NavMobile from "../components/partials/NavMobile.astro"
import schema from "../libs/schema.json"
import ContactData from '../components/partials/ContactData.astro';

const { frontmatter, isArticle = false } = Astro.props;
---

<!DOCTYPE html>
<html 
  lang="pl-PL" 
  class="scroll-smooth no-scrollbar"
  data-theme="abagard"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta property="og:title" content={frontmatter.metaTitle}>
    <meta property="og:site_name" content="abagard.pl">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:description" content={frontmatter.metaDescription}>
    <meta property="og:type" content={`${ isArticle ? "article" : "business.business" }`}>
    <meta property="og:image" content="https://abagard.pl/portfolio/20201006_135539.jpg">
    <meta property="og:image" content="https://abagard.pl/portfolio/20180525_093658.jpg">
    <meta property="og:image" content="https://abagard.pl/portfolio/20180411_073255.jpg">
    <meta property="og:image" content="https://abagard.pl/portfolio/20181211_185455.jpg">
    <meta property="og:image" content="https://abagard.pl/portfolio/20191121_083326.jpg">
    <meta property="og:image" content="https://abagard.pl/portfolio/20191025_122514.jpg">
    
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6ER4FFXWFE"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-6ER4FFXWFE');
    </script>
    
    <script type="application/ld+json" set:html={JSON.stringify(schema)}></script>
    <style>
      * { font-family: "Work Sans", sans-serif; }
    </style>
    <ImageSupportDetection />
    <meta name="generator" content={Astro.generator} />
    
    <meta name="description" content={frontmatter.metaDescription}>
		<title>{frontmatter.metaTitle}</title>
	</head>
	<body class="no-scrollbar text-base-content bg-base-100">
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content scroll-smooth scroll-pt-20 lg:scroll-pt-0 no-scrollbar overflow-x-hidden relative">
        <Navbar />
        <ContactData />
          <slot />
        <Footer />
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <NavMobile />
      </div>
    </div>
	</body>
</html>